<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>
        <!--<property name="hibernate.connection.url">jdbc:postgresql://localhost:1234/rew3_fi~nancial</property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:1234/rew3_finance</property>


        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.connection.isolation">2</property>


        <!--Accounting-->

        <mapping class="com.rew3.accounting.account.model.Account"/>
        <mapping class="com.rew3.accounting.accountperiod.model.AccountPeriod"/>
        <mapping class="com.rew3.accounting.transaction.model.Journal"/>
        <mapping class="com.rew3.accounting.account.model.AccountGroup"/>


        <!--Purchase and Sales-->
        <mapping class="com.rew3.catalog.product.model.Product"/>
        <mapping class="com.rew3.sale.customer.model.Customer"/>
        <mapping class="com.rew3.purchase.vendor.model.Vendor"/>
        <mapping class="com.rew3.purchase.expense.model.Expense"/>
        <mapping class="com.rew3.sale.invoice.model.Invoice"/>
        <mapping class="com.rew3.sale.invoice.model.InvoiceItem"/>
        <mapping class="com.rew3.sale.estimate.model.Estimate"/>
        <mapping class="com.rew3.sale.estimate.model.EstimateItem"/>
        <mapping class="com.rew3.purchase.bill.model.Bill"/>
        <mapping class="com.rew3.purchase.bill.model.BillItem"/>
        <mapping class="com.rew3.payment.invoicepayment.model.InvoicePayment"/>
        <mapping class="com.rew3.payment.billpayment.model.BillPayment"/>
        <mapping class="com.rew3.paymentoption.model.PaymentOption"/>
        <mapping class="com.rew3.paymentterm.model.PaymentTerm"/>
        <mapping class="com.rew3.paymentoption.model.PaymentOption"/>
        <mapping class="com.rew3.sale.recurringinvoice.model.RecurringInvoice"/>
        <mapping class="com.rew3.sale.recurringinvoice.model.RecurringSchedule"/>



        <!--
            Commission Module
        -->
        <!-- <mapping class="com.rew3.brokerage.gcp.model.Gcp"/>
         <mapping class="com.rew3.brokerage.acp.model.AcpAssociate"/>
         <mapping class="com.rew3.brokerage.acp.model.SingleRateAcp"/>
         <mapping class="com.rew3.brokerage.acp.model.Acp"/>
         <mapping class="com.rew3.brokerage.acp.model.TieredAcp"/>
         <mapping class="com.rew3.brokerage.acp.model.TieredStage"/>
         <mapping class="com.rew3.brokerage.associate.model.Associate"/>
         <mapping class="com.rew3.brokerage.deduction.model.Deduction"/>
         <mapping class="com.rew3.brokerage.transaction.model.RmsTransaction"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionAssociate"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionDeduction"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionGcp"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionClosing"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionContact"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionStatusStage"/>
         <mapping class="com.rew3.brokerage.transaction.model.TransactionReference"/>


         <mapping class="com.rew3.brokerage.commissionplan.model.CommissionPlan"/>
         <mapping class="com.rew3.brokerage.commissionplan.model.PreCommission"/>
         <mapping class="com.rew3.brokerage.commissionplan.model.CommissionLevel"/>
         <mapping class="com.rew3.brokerage.commissionplan.model.CommissionPlanAgent"/>
         <mapping class="com.rew3.brokerage.commissionplan.model.CommissionPlanReference"/>-->


        <!-- <mapping class="com.rew3.purchase.expense.model.ExpenseItem"/>
         <mapping class="com.rew3.purchase.expense.model.ExpenseReference"/>



         <mapping class="com.rew3.brokerage.commissionplan.model.FlatFee"/>
         <mapping class="com.rew3.brokerage.commissionplan.model.SlidingScale"/>
 -->




    </session-factory>
</hibernate-configuration>